
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(205, 205, 205);
    position: fixed;
    width: 100%;
}
.menu{
    padding-right: 30px;
}
.menu>*{
    padding-right: 10px;
}
