.order-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.order-box>p,.order-box>h3{
    width:100px
}
.order-box>:nth-child(1){
    width:150px
}