.order-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.order-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.order-box>p,.order-box>h3,button{
    width:100px;

}
.order-box>:nth-child(1){
    width: 150px;
}
.order-box>:nth-child(6){
    width: 40px;
}
.no-data{
    display: flex;
    justify-content: center;
}

.whole-order-box{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
}

.order-box>button{
    height: 40px;
    border: none;
    background: none;
}
.order-box>button:hover{
    scale: 1.2;
}
